!<!DOCTYPE html>
<html>
    <head>
        <title>asdfg</title>
        <style>
            #chart {
                max-width: 650px;
                margin: 35px auto;
            }
        </style>
    </head>
    <body>
        <center>traffic</center>
        <script src="https://cdn.plot.ly/plotly-2.12.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.min.js"></script>
        <input id='serial' /><button id='but_send'>send</button>
        <div id="chart"></div>
        <script>
            function cuba(x){
                if (!isNaN(x)){
                    return x * x * x 
                }
                else{
                    return "cubinskie cigary"
                }
            }
            const server_ip = 'localhost'
            Plotly.newPlot('chart', [{
                y: [0,0,0],
                fill: 'tozeroy',
                type: 'scatter',
                mode: 'lines',
                line: {color: 'green'}
            }]);

            const socket = io(`http://${server_ip}:3000`);
            const serial = document.querySelector('#serial')
            const button = document.querySelector('#but_send')

            button.onclick = () => {
                socket.emit('get-traffic',serial.value) 
            }
            socket.on('connect', () => {
                console.log('connected server')   
            })
            socket.on('send-traffic', data => {
                    console.log(data)
                    Plotly.extendTraces('chart', {
                        y: [[parseInt(data)]]
                    }, [0])
            })

        </script>
    </body>
</html>